#a {
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#parent {
    border: 3px solid black;
    height: 29vw;
    width: 40vw;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
    background-color: rgba(34, 34, 34, 0.8);
    opacity: 0.8;
}

#h {
    border: 3px solid black;
    width: 95%;
    margin: auto;
    border-radius: 5px;

}

.in {
    border: 2px solid black;
    width: 95%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    border-radius: 5px;
}

.my {
    display: flex;
    gap: 20px;
}

h1 {
    text-align: center;
    color: orange;
    margin-top: 10px;
}

h2 {
    color: orange;
    position: relative;
    left: 90px;
}

h3 {
    position: relative;
    left: 90px;

}
h5{
    text-align: center;
    color: orange;
}

p {
    text-align: center;
    color: white;
}

input {
    margin-left: 14px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 305px 0px 50px;
}

button {
    color: white;
    background-color: orange;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px 11px 0px 0px;
}